{{#mol-contacts-info}}
    {{#title}}
        <div class="contact-us__main__block__info">
            <h4>{{#img}}<img src="{{{img}}}"/>{{/img}}{{title}}</h4>
            {{#value}}<p>{{value}}</p>{{/value}}
        </div>
    {{/title}}
{{/mol-contacts-info}}