{{#mol-who-we-are-block}}
    {{#title}}
        <div class="who-we-are__global-block__default">
            <h2>{{title}}</h2>
            {{#description}}<p>{{{description}}}</p>{{/description}}
        </div>
    {{/title}}
{{/mol-who-we-are-block}}