{{#org-approach-statistic}}
    <section class="approach-statistic">
        <div class="container">
            {{> ../molecules/approach-statistic-block}}
        </div>
    </section>
{{/org-approach-statistic}}