{{#org-clients}}
    <section class="client-block">
        <div class="container">
            {{> ../molecules/title-h2-default}}
            <div class="client-block__brands-block">
                {{> ../molecules/client-item}}
            </div>
        </div>
    </section>
{{/org-clients}}