{{#org-our-works}}
    <section class="our-works">
        <div class="container">
            <div class="our-works__top-navigation row align-items-center">
                <div class="col-4">
                    {{> ../molecules/title-h2-default}}
                </div>
                <div class="col-8 justify-content-between align-items-center d-flex">
                    <p class="arrows our-works-left-arrow d-flex align-items-center "><span class="prev-slide"></span><span class="prev-work m-0 ml-2"></span></p>
                    <p class="arrows our-works-right-arrow d-flex align-items-center flex-row-reverse"><span class="next-slide"></span><span class="next-work m-0 mr-2"></span></p>
                </div>
            </div>

            <div class="our-works__slider row d-flex">
                {{> ../molecules/our-works-slide}}
            </div>
        </div>
    </section>
{{/org-our-works}}