{{#p-about}}
    {{> ../head }}
    {{> ../organisms/header-nav}}
    {{> ../organisms/who-we-are}}
    {{> ../organisms/about-us}}
    {{> ../organisms/our-approach}}
    {{> ../organisms/approach-statistic}}
    {{> ../organisms/our-approach}}
    {{> ../organisms/clients}}
    {{> ../organisms/contacts}}
    {{> ../foot }}
{{/p-about}}