{{#p-index}}
    {{> ../head }}
    {{> ../organisms/header-nav}}
    {{> ../organisms/who-we-are}}
    {{> ../organisms/our-works}}
    {{> ../organisms/our-approach}}
    {{> ../organisms/clients}}
    {{> ../organisms/our-news}}
    {{> ../organisms/contacts}}
    {{> ../foot }}
{{/p-index}}